.venv
uv.lock
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
*.egg-info
.ipynb_checkpoints/
.data
data/
logs/
flower_data/
cifar_100/
cifar-100-python/
cifar-100-python.tar.gz
.env
.env
*.env